        /* 리셋작업 */
        * {margin:0; padding:0;}
        ul,ol,li {list-style:none;}
        a {text-decoration:none;}
        body {line-height:1; font-family: 'Montserrat', sans-serif;}
        img {vertical-align:middle;}
        h2 {font-size:35px; line-height:50px;}
        p {font-size:13px; color:#797979; line-height:25px;}

        /* 헤더영역 작업 시작 */
        #header {position:absolute; display:flex; justify-content:center; width:100%; transition:all 0.5s;}
        #header.fixed {position:fixed; background-color:#fff; box-shadow:0 0 15px rgba(0,0,0,0.3); z-index:99;}
        #header.fixed h1 img {content:url(../img/logo.png);}
        #header.fixed .center ul li a {color:#040c2c;}
        #header.fixed .center ul li a::after {background-color:#040c2c;}
        #header.fixed .center .login {background-color:#040c2c; color:#fff;}
        #header.fixed .center .login::before {background-color:#393939;}

        #header .center {width:75%; display:flex; justify-content:space-between;}
        #header .center .ham_menu {display:none;}
        #header .center .ham_menu span {display:block; width:30px; height:2px; background-color:#fff; margin:5px 0;}
        #header .center ul, #header .center{display:flex; align-items:center;}
        #header .center ul li {margin:0 15px; line-height:100px;}
        
        #header .center ul li.on a::after {width:100%;}
        
        #header .center ul li a {position:relative; font-weight:bold; color:#fff;}
        #header .center ul li a::after {content:""; width:0; height:2px; background-color:#fff;
                                        position:absolute; left:0; bottom:-10px; transition:all 0.3s; }
        #header .center ul li a:hover::after {width:100%}

        #header .center .login {background-color:#fff; color:#000; width:115px; height:40px; border-radius:5px; font-weight:500;
                                display:flex; justify-content:center; align-items:center; transition:all 0.3s;
                                position:relative; overflow:hidden; z-index:1;}
        #header .center .login::before {content:""; display:inline-block; position:absolute; top:0; left:50%; transform:translateX(-50%); background-color:#000;
                                        width:0; height:100%; transition:all 0.5s; z-index:-1;}
        #header .center .login:hover::before {width:100%;}
        #header .center .login:hover {color:#fff;}
        /* 헤더영역 작업 끝 */
        
        /* 중간영역cont1 작업 시작 */
        #container {overflow:hidden;}
        .cont1 {width:100vw; height:100vh; background-image:url(../img/profile.jpg); background-repeat:no-repeat;
                     background-size:cover; color:#fff;}
        .cont1 p {color:#fff;}                     
        .cont1 .black_bg {height:100vh; background-color:rgba(0,0,0,0.5);
                               display:flex; justify-content:center; align-items:center;}
        .cont1 .black_bg .title_text {text-align:center;}
        .cont1 .black_bg .title_text .hello {font-size:25px; margin-bottom:45px;}
        .cont1 .black_bg .title_text .name {font-size:60px; margin-bottom:35px;}
        .cont1 .black_bg .title_text .job {font-size:30px; margin-bottom:40px;}        
        .cont1 .black_bg .title_text .sns {display:flex; justify-content:center;}
        .cont1 .black_bg .title_text .sns li a {width:45px; height:45px; border-radius:50%; background-color:rgba(0,0,0,0.3);
                                                display:flex; align-items:center; justify-content:center; margin: 0 5px;
                                                font-size:20px; color:#fff;
                                                }
        .cont1 .black_bg .title_text .sns li:hover a {background-color:rgba(0,0,0,0.7)}
        /* 중간영역cont1 작업 끝 */

        /* 중간영역cont2 작업 시작 */
        .cont2 {width:100vw; height:850px; display:flex; justify-content:center;}
        /* .cont2 .center {width:59.375%; display:flex; align-items:center; justify-content:space-between;} */
        .cont2 .center {width:100%; display:flex; align-items:center; justify-content:space-between;}

        .cont2 .center .left_textBox {width:33%; position:relative; left:400px;}
        .cont2 .center .left_textBox h2 {font-weight:700; margin-bottom:10px;}
        .cont2 .center .left_textBox h3 {font-size:16px; color:#999; margin-bottom:30px; font-weight:normal;}
        .cont2 .center .left_textBox p {padding-bottom:30px; line-height:30px;}
        .cont2 .center .left_textBox .btns {display:flex;}

        .cont2 .center .left_textBox .btns a {display:block; background-color:#393939; color:#fff; font-size:15px;
                                              padding:0 40px; height:50px; border-radius:3px; margin-right:20px;
                                              position:relative; z-index:1; text-align:center; line-height:50px;}

        .cont2 .center .left_textBox .btns a::before {content:""; display:block; position:absolute; top:0; left:50%; transform:translateX(-50%);
                                                      width:0; height:100%; background-color:#040c2c; transition:all 0.5s;
                                                      z-index:-1;}                                      
        .cont2 .center .left_textBox .btns a:hover::before {width:100%;}

        .cont2 .center .right_imgBox {width:41.666666%; position:relative; right:250px;}
        .cont2 .center .right_imgBox img {width:100%;}
        /* 중간영역cont2 작업 끝 */

        /* 중간영역cont3 작업 시작 */
        .cont3 {height:900px; display:flex; justify-content:center; background-color:#fafafa; padding:110px 0px 90px;}
        .cont3 .center {width:60%;}
        .cont3 .center .top_text {text-align:center;}
        .cont3 .center .top_text h2 {margin-bottom:10px;}
        .cont3 .center .top_text span {display:block; background-color:#bcbcbc; width:80px; height:2px; margin:40px auto;}

        .cont3 .center .boxs {display:flex; flex-wrap:wrap; width:100%; justify-content:center;}
        .cont3 .center .boxs .box {width:18%; height:320px; margin:15px; text-align:center; position:relative; background-color:#fff;
                                   border:1px solid #f3f1f1; cursor:pointer; box-sizing:border-box;}
        .cont3 .center .boxs .box::before {content:""; display:block; position:absolute; width:100%; height:100%; transition:all 0.5s; }
        .cont3 .center .boxs .box:hover::before {box-shadow:0 0 15px rgba(100,100,100,0.5); }       
        .cont3 .center .boxs .box > div {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#797979;
                                         width:85%;}
        .cont3 .center .boxs .box i {font-size:40px;}
        .cont3 .center .boxs .box h3 {color:#000; font-size:20px; margin:15px 0;}
        .cont3 .center .boxs .box p {line-height:25px;}
        /* 중간영역cont3 작업 끝 */

        /* 중간영역cont4 작업 시작 */
        .cont4 .cont4_bot, .cont4 .cont4_top {display:flex; justify-content:center;}
        .cont4 .cont4_top {padding:120px;}
        .cont4 .cont4_top .center {width:60%; text-align:center;}
        .cont4 .cont4_top .center .top_text span {display:block; background-color:#bcbcbc; width:80px; height:2px; margin:40px auto;}
        .cont4 .cont4_top .center .bot_isotope .box_menu {display:flex; justify-content:center;}
        .cont4 .cont4_top .center .bot_isotope .box_menu li {margin:12px;}

        .cont4 .cont4_top .center .bot_isotope .box_menu a {color:#000; display:block; padding:25px; border:1px solid #ededed;}
        
        .cont4 .cont4_top .center .bot_isotope .box_menu .on {background-color:#040c2c;}
        .cont4 .cont4_top .center .bot_isotope .box_menu .on a { color:#fff;}

        
        .cont4 .cont4_top .center .bot_isotope .boxs {display:flex; flex-wrap:wrap; position:relative;}

        .cont4 .cont4_top .center .bot_isotope .boxs .box {position:absolute; top:0; left:0;}

        .cont4 .cont4_top .center .bot_isotope .boxs .box:hover .information {opacity:1;}
        .cont4 .cont4_top .center .bot_isotope .boxs .box .information {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                                                                        background-color:rgba(255, 255, 255, 0.8); opacity:0; transition:all 0.5s;
                                                                        display:flex; flex-direction:column; justify-content:center;}
        .cont4 .cont4_top .center .bot_isotope .boxs .small .information {width:95%; height:95%;}
        .cont4 .cont4_top .center .bot_isotope .boxs .big .information {width:98%; height:98%; font-size:15px;}
        .cont4 .cont4_top .center .bot_isotope .boxs .box .information a {display:inline-block; width:45px; height:45px; line-height:43px;
                                                                          border-radius:50%; border:1px solid #111; background-color:#111; color:#eee;
                                                                          transition:all 0.5s;}
        .cont4 .cont4_top .center .bot_isotope .boxs .box .information a:hover {background-color:#eee; color:#111;}
        .cont4 .cont4_top .center .bot_isotope .boxs .box .information p {line-height:50px;}
        
        .cont4 .cont4_top .center .bot_isotope .boxs .box {margin:1%;}
        .cont4 .cont4_top .center .bot_isotope .boxs .small {width:22%;}
        .cont4 .cont4_top .center .bot_isotope .boxs .big {width:47%;}
        .cont4 .cont4_top .center .bot_isotope .boxs img {width:100%; height:100%;}


        .cont4 .cont4_bot {display:flex; justify-content:center; background-color:#fafafa; padding:120px 0;}
        .cont4 .cont4_bot .center {width:58%; display:flex; justify-content:space-between; text-align:center;}
        .cont4 .cont4_bot .center .box {text-align:center; padding:120px 0;}
        .cont4 .cont4_bot .center .box i {font-size:35px;}
        .cont4 .cont4_bot .center .box h2 {font-size:40px;}
        /* 중간영역cont4 작업 끝 */
        
        /* 중간영역cont5 작업 시작 */
        .cont5 .top {background-image:url(../img/bg.jpg); background-repeat:no-repeat; background-size:cover;
                     display:flex; justify-content:center;}
        .cont5 .top .swiper {width:32.5%; height:500px;}
        .cont5 .top .swiper .swiper-wrapper .swiper-slide {position:relative; left:0; text-align:center; padding:85px 0;}
        .cont5 .top .swiper .swiper-slide .img {width:80px; height:80px; margin:0 auto;
                                                border:1px solid #ededed; border-radius:50%; background-color:#fff; overflow:hidden;}
        .cont5 .top .swiper .swiper-slide .img img {width:100%;}
        .cont5 .top .swiper .swiper-slide h2, .cont5 .top .swiper .swiper-slide p {color:#fff;}
        .cont5 .top .swiper .swiper-slide h2 {font-size:18px;}
        .cont5 .top .swiper .swiper-slide span {display:block; color:#ccc; margin-bottom:25px;}

        .cont5 .bot {width:57.8%; margin:0 auto; text-align:center; padding:130px 0;}
        .cont5 .bot .top_text span {display:block; content:""; display:block; background-color:#bcbcbc; width:80px; height:2px; margin:40px auto;} */
        .cont5 .bot .bot_img {display:flex;}
        .cont5 .bot .bot_img img {width:8.333333%;}
        .cont5 .bot .swiper-slide img {opacity:0.6; transition:all 0.5s;}
        .cont5 .bot .swiper-slide:hover img {opacity:1;}        
        /* 중간영역cont5 작업 끝


        /* 중간영역cont6 작업 시작 */
        .cont6 {padding:130px 0; text-align:center; background-color:#fafafa; display:flex; justify-content:center;}
        .cont6 .center {width:60%;}
        .cont6 .top_box {margin-bottom:10px;}
        .cont6 .top_box span {display:block; background-color:#bcbcbc; width:80px; height:2px; margin:40px auto;}
        .cont6 .box {position:relative; background-color:#fff; width:18.2%; border:1px solid #ebebeb;
                     cursor:pointer; text-align:left; margin:0 15px; overflow:hidden; border-radius:5px;}
        .cont6 .box:hover .date {background-color:#040c2c; color:#fff;}
        .cont6 .box .img {left:0; right:0; z-index:2; overflow:hidden;}
        .cont6 .box img {width:100%;}
        .cont6 .box .date {background-color: #fff; color:#494949; font-size:18px; padding-top:8px;
                           text-align:center; border-radius:5px; font-weight:bold; transition:all 0.5s;
                           position:absolute; right:20px; top:20px; z-index:10; width:55px; height:60px;}
        .cont6 .bot_box {display:flex; justify-content:space-between; color:#494949;}
        .cont6 .bot_box h3 {margin-bottom:20px; font-size:10px;}
        .cont6 .bot_box h4 {margin-bottom:25px; font-size:22px;}
        .cont6 .bot_box .text {line-height:30px; margin-bottom:5px;}
        .cont6 .bot_box a {color:#494949; padding-bottom:35px; font-size:10px;}
        
        .cont6 .bot_box .text_box {padding:35px 25px; background-color:#fff; z-index:99; overflow:hidden;}
        /* 중간영역cont6 작업 끝 */

        /* 중간영역cont7 작업 시작 */
        #cont7 {width:100%; height:500px;}
        /* 중간영역cont7 작업 끝 */

        /* 중간영역cont8 작업 시작 */
        .cont8 {display:flex; justify-content:center; padding:125px 0;}
        .cont8 .center {width:56.7%; display:flex; justify-content:space-between;}
        .cont8 .center .left_box li {display:flex; margin:15px 0;}
        .cont8 .center .left_box li i {line-height:25px; margin-right:15px; color:#494949;}

        .cont8 .center .right_box {width:35%;}
        .cont8 .center .right_box form {display:flex; flex-wrap:wrap;}
        .cont8 .center .right_box form input {margin:15px; width:300px; height:45px; border:1px solid #ededed; padding-left:10px; box-sizing:border-box;}
        .cont8 .center .right_box form span {display:block; margin-left:15px; font-size:13px;}
        
        .cont8 .center .right_box form textarea {width:620px; height:140px; resize:none; margin:15px 0 30px 15px; border:1px solid #ededed; padding:10px 0 0 10px;}
        .cont8 .center .right_box a {display:block; background-color:#393939; color:#fff; font-size:15px;
                                     padding:15px 0; width:200px; border-radius:3px; text-align:center; margin-left:15px;}
        /* 중간영역cont8 작업 끝 */
        
        /* 풋터영역 작업 시작 */
        #footer {display:flex; justify-content:center; text-align:center; background-color:#040c2c; padding:30px 0;}
        #footer .center {width:20%;}
        #footer .center h1 {margin:30px 0;}
        #footer .center .sns {display:flex; justify-content:center;}
        #footer .center .sns li a {margin:0 6px; width:10px; height:10px; display:flex; align-items:center; justify-content:center; border:1px solid #fff; border-radius:50%; padding:10px;
                                   background-color:rgba(255, 255, 255, 0); transition:all 0.5s;}
        #footer .center .sns li a:hover {background-color:rgba(255, 255, 255, 1);}
        #footer .center .sns li a:hover i {color:#040c2c;}

        #footer .center .sns li a i {color:#fff;}
        #footer .center .top_text span, #footer .center .bot_text {color:#fff;}
        /* 풋터영역 작업 끝 */


/* 반응형 작업 시작! */
        

        @media screen and (max-width:1200px) {
                /* 헤더 작업 시작 */
                #header .center {padding:20px 0;}
                #header .center .ham_menu {display:block;}
                #header .center .gnb {display:none;}
                #header .center {position:relative;}
                #header .center .login {position:absolute; right:50px;}

                #header.fixed .center .ham_menu span {background-color:#040c2c;}

                /* cont2 작업 시작 */
                .cont2 .center .left_textBox {left:135px;}
                .cont2 .center .right_imgBox {width:75%; position:relative; right:0;}

                /* cont3 작업 시작 */
                .cont3 .center {width:77.5%;}
                .cont3 .center .boxs .box {width:24%; height:350px;}
                .cont4 .cont4_top .center {width:80%;}
                .cont4 .cont4_top .center .bot_isotope .boxs .box {margin:1.25%;}
                .cont4 .cont4_top .center .bot_isotope .boxs .small {width:17.5%;}
                .cont4 .cont4_top .center .bot_isotope .boxs .big {width:37.5%;}

                .cont4 .cont4_bot {padding:100px 0;}

                .cont5 .top .swiper {width:57.5%;}
        }


        @media screen and (max-width:990px) {

        }


        @media screen and (max-width:768px) {

        }


        @media screen and (max-width:580px) {

        }